/* 
- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%)
- Tomato: hsl(4, 100%, 67%)
- Font size (paragraph): 16px
- Family: [Roboto](https://fonts.google.com/specimen/Roboto)
- Weights: 400, 700
*/

body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: hsl(235, 18%, 26%);
}

.box-60 {
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  box-sizing: border-box;
  justify-content: center;
}

.container {
  width: 900px;
  height: 613px;
  display: flex;
  flex-direction: row;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

li {
  margin-left: 20px;
}

ul {
  list-style-image: url(assets/images/icon-list.svg);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  color: hsl(234, 29%, 20%);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  color: hsl(234, 29%, 20%);
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
}

label {
  color: hsl(234, 29%, 20%);
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}

input {
  width: 320px;
  height: 50px;
  border-radius: 5px;
  border: hsl(231, 7%, 60%) solid 1px;
  margin-bottom: 15px;
  padding: 5px 0 5px 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
}

input:valid {
  background-color: hsl(0, 0%, 100%);
}
input:user-invalid {
  background-color: hsla(4, 100%, 67%, 0.237);
  border: hsl(4, 100%, 67%) solid 1px;
}

.error {
  color: hsl(0, 0%, 100%);
}

button {
  width: 320px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(4, 100%, 67%);
}

img {
  padding: 10px;
}

.success {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(235, 18%, 26%);
}

.success div {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.success div img {
  width: 40px;
  margin-left: -5px;
}

span {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
